In [2]:
x = 9; y = 9.0; X = 'abc'
print x/2
print y/2
print x//2  # quotient
print y//2

4
4.5
4
4.0

In [3]:
print x%2   # remainder
print y%2

1
1.0

In [8]:
print divmod(x, 2)
print divmod(y, 2)

(4, 1)
(4.0, 1.0)

In [5]:
print pow(x, 3)
print x ** 3
print pow(x, 0.5)

729
729
3.0

In [6]:
print 9 ** 1/3
print 9 ** (1/3)
print 9 ** (1./3)

3
1
2.08008382305

In [7]:
# boolean operations and comparisons
print x > 5 and y > 5
print x > 5 and y < 5
print x >5 or y < 5
print not x == 9.0
print x != 9.0
print x is 9
print x is 9.0

True
False
True
False
False
True
False

In [19]:
print x > 5 and y < 5 or y > 5
print x > 5 or y < 5 and y > 5
print x > 5 or y > 5 and y < 5
print (x > 5 or y > 5) and y < 5

True
True
True
False

In [20]:
import keyword
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
for i in range(33, 127):
    print chr(i),

! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~

In [22]:
import string
print string.ascii_letters
print string.ascii_lowercase
print string.ascii_uppercase
print string.digits
print string.letters
print string.lowercase

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

In [23]:
for char in string.letters:
    print ord(char),

65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122

In [51]:
print string.punctuation
print string.printable
print string.uppercase

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [50]:
for char in string.printable:
    print ord(char),

48 49 50 51 52 53 54 55 56 57 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 58 59 60 61 62 63 64 91 92 93 94 95 96 123 124 125 126 32 9 10 13 11 12

In [26]:
'"Isn\'t," she said.'
print '"Isn\'t," she said.'

"Isn't," she said.

In [28]:
s = 'First line.\nSecond line.'
s

'First line.\nSecond line.'

In [29]:
print s

First line.
Second line.

In [31]:
print 'C:\some\name'
print r'C:\some\name'

C:\some
ame
C:\some\name

In [32]:
3 * 'un' + 'ium'

'unununium'

In [33]:
'Py' 'thon' # two or more string literals next to each other are concatenated

'Python'

In [39]:
prefix = 'Py'

In [40]:
prefix 'thon' # cannot concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-40-8f6037ce1d2b>, line 1)

In [41]:
prefix + 'thon'

'Python'

In [42]:
# strings can be indexed and sliced
word = 'Python'
word[0]

'P'

In [43]:
word[5]

'n'

In [45]:
word[-1]

'n'

In [46]:
word[-2]

'o'

In [47]:
word[-6]

'P'

In [48]:
word[0:2] # the start is always included; the end always excluded

'Py'

In [49]:
word[2:5]

'tho'

In [52]:
word[:2] + word[2:]

'Python'

In [53]:
word[:2] # characters from the beginning to position 2 (excluded)

'Py'

In [54]:
word[4:] # characters from position 4 (included) to the end

'on'

In [55]:
word[-2:] # characters from the second last (included) to the end

'on'

In [56]:
word[:-1] # characters from the beginning to position -1 (excluded)

'Pytho'

In [57]:
word[6] # using an index too large will result in an error

IndexError: string index out of range

In [58]:
word[4:8] # out of range slice indexes are handled gracefully

'on'

In [59]:
word[8:]

''

In [60]:
# Python strings cannot be changed - they are immutable
word[0] = J

NameError: name 'J' is not defined

In [61]:
# If you need a different string, create a new one.
'J' + word[1:]

'Jython'

In [62]:
# The built-in function len() returns the length of a string
len(word)

6

In [64]:
# some string methods
s = 'aBc'
print s.capitalize()
print s.upper()
print s.lower()

Abc
ABC
abc

In [65]:
# string formatting operations
# use "\" when you want to type a long line in two rows
# %s: place holder for a string
# %03d: place holder for an integer; 3 digits, if less than 2, fill with 0
print '%(language)s has %(number)03d quote types.' \
% {"language": "Python", "number": 2}

Python has 002 quote types.

In [66]:
# string method: format
"The sum of 1+2 is {0}".format(1+2)

'The sum of 1+2 is 3'

In [67]:
"{0}, {1}, {2}".format('a', 'b', 'c')

'a, b, c'

In [68]:
"{2}, {1}, {0}".format('a', 'b', 'c')

'c, b, a'

In [69]:
"{2}, {1}, {0}".format(*'abc') # unpacking the sequence

'c, b, a'

In [70]:
"{0} {1} {0}".format('ab', 'cd')

'ab cd ab'

In [71]:
"{0}{1}{0}".format('ab', 'cd')

'abcdab'

In [72]:
# string method: split
s = "One two   three"
s.split() # the default delimiter is whitespace

['One', 'two', 'three']

In [73]:
s = "topeka,kansas city,wichita,olathe"
s.split(',') # delimiter is ','

['topeka', 'kansas city', 'wichita', 'olathe']

In [74]:
# string method: lstrip
'www.example.com'.lstrip('we')

'.example.com'

In [75]:
'www.example.com'.lstrip('we.')

'xample.com'

In [76]:
'www.example.com'.lstrip('cmowz.')

'example.com'

In [77]:
# string method: replace
s = "this is string example....wow!!! this is really string"
s.replace("is", "was")
print s.replace("is", "was")

thwas was string example....wow!!! thwas was really string

In [78]:
s.replace("is", "was", 2)

'thwas was string example....wow!!! this is really string'

In [79]:
# string method: join
seq = ("a", "b", "c"); # This is sequence of strings. Indeed, this is a tuple.
"_".join(seq)

'a_b_c'

In [80]:
"_".join('abc')

'a_b_c'

In [81]:
"#".join('a b   c')

'a# #b# # # #c'